body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
}

form {
    margin: 0 auto;
    max-width: 650px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    height: 480px;
}

h1 {
    text-align: center;
    color: #0072c6;
}

label {
    width:160px;
    clear:left;
    text-align:right;
    padding-right:10px;
    float:left;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    float:left;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.form-group label {
    margin-right: 10px;
    flex: 0 0 auto;
}

.form-group input, .form-group select {
    flex: 1 1 auto;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: small;
}

input[type="submit"] {
    background-color: #0072c6;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin-left: 100px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
}

input[type="submit"]:hover {
    background-color: #00569c;
}

input[type="submit"]:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.logo {
    position: absolute;
    top: 0;
    width: 20%;
    height: auto;
    z-index: -1;
}

.logo-left {
    left: 0;
}

.logo-right {
    right: 0;
}
