<!DOCTYPE html>
<html>
<head>
    <title>Job Fair TMC Contact</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Job Fair TMC Contact Form

    </h1>
    <input type="image" class="logo" src="static/img/tmc_blue.jpeg">
    <form method="POST">
        <div class="form-group">
            <label for="first-name">First name:</label>
            <input type="text" id="first-name" name="first-name"><br><br>
        </div>

        <div class="form-group">
            <label for="last-name">Last name:</label>
            <input type="text" id="last-name" name="last-name"><br><br>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <div id="email-error-message" class="error-message"></div><br><br>
        </div>

        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone">
            <div id="phone-error-message" class="error-message"></div><br><br>
        </div>

        <div class="form-group">
            <label for="locality">Locality:</label>
            <input type="text" id="locality" name="locality"><br><br>
        </div>

        <div class="form-group">
            <label for="business-manager">Business Manager:</label>
            <select id="business-manager" name="business-manager">
                <option value="An-Sofie_Vandersmissen">An-Sofie Vandersmissen</option>
                <option value="Bob_Vangeel">Bob Vangeel</option>
                <option value="Charlotte_Laureijs">Charlotte Laureijs</option>
                <option value="Corentin_Thielemans">Corentin Thielemans</option>
                <option value="Elizabeth_Vela_Esparza">Elizabeth Vela Esparza</option>
                <option value="Jacques-Omer_Lescot">Jacques-Omer Lescot</option>
                <option value="Jaskaran_Sandhu">Jaskaran Sandhu</option>
                <option value="Kevin_Marco_Alvarez">Kevin Marcos Alvarez</option>
                <option value="Liza_Dewyse">Liza Dewyse</option>
                <option value="Matthias_Corneillie">Matthias Corneillie</option>
                <option value="Matthias_Desmet (Matthias)">Matthias Desmet (Matthias)</option>
                <option value="Maxim_De_Leus">Maxim De Leus</option>
                <option value="Maxime_Lambrecht">Maxime Lambrecht</option>
                <option value="Michaël_Fabris">Michaël Fabris</option>
                <option value="Michiel_De_Baets">Michiel De Baets</option>
                <option value="Mie_Vandenbergh">Mie Vandenbergh</option>
                <option value="Nicolas_Barroy">Nicolas Barroy</option>
                <option value="Pierre_Henri_Ghequiere">Pierre Henri Ghequiere</option>
                <option value="Sam_Lahaye">Sam Lahaye</option>
                <option value="Sander_Dejongh">Sander Dejongh</option>
                <option value="Sony_Dansy">Sony Dansy</option>
                <option value="Tangi_Vern">Tangi Vern</option>
                <option value="Victor_Top">Victor Top</option>
                <option value="Yacine_Dehbi">Yacine Dehbi</option>
            </select><br><br>
        </div>

        <div class="form-group">
            <label for="level-of-studies">Level of studies:</label>
            <input type="text" id="level-of-studies" name="level-of-studies"><br><br>
        </div>
        <div class="form-group">
            <label for="thesis">Thesis topic:</label>
            <input type="text" id="thesis" name="thesis"><br><br>
        </div>
        <div class="form-group">
            <label for="languages">Languages:</label>
            <select id="languages" name="languages">
                <option value="english-dutch-french">English-Dutch-French</option>
                <option value="english-dutch">English-Dutch</option>
                <option value="english-french">English-French</option>
                <option value="english">English</option>
                <option value="dutch-french">Dutch-French</option>
                <option value="dutch">Dutch</option>
                <option value="french">French</option>
            </select><br><br>
        </div>
        <input type="submit" value="Submit">
    </form>
    <script src="static/js/check.js"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    -->
</body>
</html>
